<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all" />
        <title>Jiyoung</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Nanum    +Gothic|Questrial|Motserrat" rel="stylesheet">
    </head>
    <body class="main">
        <div class="header">
            <h1><a href="/">Jiyoung.</a></h1>
            {% if name  %}
            <p style="display: inline; color: white; position: absolute; right: 38px; top: 51px; font-size: 15px; font-weight: 600" >{{ name }} 님</p>
            {% endif %}
            <nav>
                <ul>
                    <li><a href="/">MAIN</a></li>
                    <li><a href="/board">BOARD</a></li>
                    {% if name %}
                    <li><a href="/mypage">MY PAGE</a></li>
                    <li><a href="/logout">LOGOUT</a><li>
                    {% else %}
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/join">JOIN</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
       
        <div class="contents">
          <div class="wrapper">
            <span>welcome</span>
          </div>
        </div>
    </body>
</html>

